.timeTable-box
    display: block
    padding: 77px 240px 135px 240px

.headTable
    display: flex
    justify-content: space-between
    margin-left: 4px
    align-items: center

.headTable__text
    font-style: normal
    font-weight: 800
    font-size: 48px
    line-height: 110%

.headTable__switch-button
    border: 1px solid #000222
    box-sizing: border-box
    border-radius: 46px
    display: inline-flex
    padding: 12px

.button-text
    font-size: 14px
    white-space: nowrap

.button-text-link
    font-size: 14px
    line-height: 130%
    display: flex
    align-items: center
    text-align: center
    color: #888899
    margin-left: 6px